<div class="events-page">
  <header class="events-header">
    <h1>Upcoming Events</h1>
  </header>

  <div class="events-content">
    <main class="events-main">
      {{ page.content }}
    </main>

  </div>
</div>
